body {
    background-color: #964B00; 
  }

  body {
    background-color: #964B00; 
  }
  
  header {
    background-color: #4CAF50; 
  }
  
  main {
    background-color: #ffc43b; 
  }
  
  footer {
    background-color: #F59F0A; 
  }